<md-card>
  <md-card-header>
    <span>List of all languages</span>
  </md-card-header>
  <span>
        <md-table #table [dataSource]="dataSource">
      
          <ng-container mdColumnDef="languageId">
            <md-header-cell *mdHeaderCellDef> id </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.languageId}} </md-cell>
          </ng-container>
      
          <ng-container mdColumnDef="languageName">
            <md-header-cell *mdHeaderCellDef> language name </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.languageName}} </md-cell>
          </ng-container>
      
          <ng-container mdColumnDef="edit">
              <md-header-cell *mdHeaderCellDef> EDIT </md-header-cell>
              <md-cell *mdCellDef="let element"> 
                <a [routerLink]="['/languages', element.languageId, 'edit']">edit</a> | 
                <a [routerLink]="['/languages', element.languageId, 'delete']">delete</a>
              </md-cell>
          </ng-container>
      
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>

        <md-paginator #paginator [length]="dataChange.value.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
        </md-paginator>
      </span>
</md-card>