<md-card>
  <md-card-title>
    <span>{{action}}</span>
  </md-card-title>
  <form #values="ngForm" (ngSubmit)="submit(values)" class="example-form">
    <md-form-field class="example-full-width">
      <textarea mdInput [(ngModel)]="category.categoryName" required name="name" minlength="2" maxlength="30" placeholder="Category name"></textarea>
    </md-form-field>
    <table>
      <tr>
        <td>
          <button md-button routerLink="/categories/list">Cancel</button>
        </td>
        <td>
          <button md-button type="submit">Save</button>
        </td>
      </tr>
    </table>
  </form>
</md-card>