<md-card>
  <md-card-title>
    <span>{{action}}</span>
  </md-card-title>
  <form #values="ngForm" (ngSubmit)="submit(values)" class="example-form">
    <md-form-field class="example-full-width">
      <input mdInput [(ngModel)]="language.languageName" required name="name" minlength="2" maxlength="30" placeholder="language name">
    </md-form-field>
    <table>
      <tr>
        <td>
          <button md-button routerLink="/languages/list">Cancel</button>
        </td>
        <td>
          <button md-button type="submit" color="primary">Save</button>
        </td>
      </tr>
    </table>
  </form>
</md-card>